/* file connected to index.html */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1{
    padding: 0px 0px 25px 0px;
}

.hero-title {
    text-align: center;
    font-family: 'Recursive', sans-serif;
    color: #970404;
    text-shadow: 2px 2px #fadae4;
    font-size: 2.5em;
    font-weight: bolder;
    padding-top: 20px;
}

.main-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 50px;
}



.form input, textarea, select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f82732;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.label {
    background-color: #fff;
    /* border: 1px solid #666; */
    color: #000;
    padding: 0px 150px 0px 0px;
    text-align: center;
    display: flex;
    font-size: 1em;
    margin: 15px;
    cursor: pointer;
  }

.form button:hover,.form button:active,.form button:focus {
  background: #f0757b;
}
 

body {
  background: -webkit-linear-gradient(right, #fa4343, #fc8787);
  background: -moz-linear-gradient(right, #fa4343, #fc8787);
  background: -o-linear-gradient(right, #fa4343, #fc8787);
  background: linear-gradient(to left, #fa4343, #fc8787);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}